<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emptyactivity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".TelegramService" android:foregroundServiceType="dataSync" />

        <receiver android:name=".ReplyReceiver" android:exported="false" />

    </application>
</manifest>
